{% extends 'base.html' %}


{% block content %}
<div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Stylish clothes for mens</h2>
                        <span>Style is with us and will be with you</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="products">
    <div class="row">
        <div class="col-lg-12"> 
            {% for men in mens %}
            <div class="product">
            
                <img src="{{ men.image.url }}" alt="">
                <h3>{{ men.baha }}TMT</h3>  
                <p>{{ men.name }} </p> 
            </div>
            {% endfor %} 
        </div>
    
    </div>

</div>                
{% endblock %}   
